[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "rbenv/plugins/rbenv-default-gems"]
	path = rbenv/plugins/rbenv-default-gems
	url = https://github.com/rbenv/rbenv-default-gems.git
[submodule "rbenv/plugins/rbenv-each"]
	path = rbenv/plugins/rbenv-each
	url = https://github.com/rbenv/rbenv-each.git
